{% extends 'sites/base/base.html' %}
{% load static %}

{% block content %}
<section class="p-5">
    <div class="container">
        <div class="row text-dark">
            <div class="col-12">
                <h1 class="pb-3">Polityka prywatności</h1>
                <ol class="list-group list-group-numbered" style="font-size:18px;">
                  <li class="list-group-item border-0">Administratorem Twoich danych osobowych jest Damian Pielka wykonujący działalność gospodarczą pod firmą: <br/>
                    Zobin-IT Damian Pielka, NIP: 991-054-22-05;<br/>
                    Dane kontaktowe Administratora Danych Osobowych:<br/>
                    a) adres: ul. Stawowa 5, 46-060 Ligota Prószkowska,<br/>
                    b) e-mail: damianpielka@o2.pl
                  </li>
                  <li class="list-group-item border-0">Administrator danych będzie przetwarzał Twoje dane osobowe podane w formularzu kontaktowym w celu podjęcia wobec Ciebie działań na Twoją prośbę, przed zawarciem umowy. Podstawa prawna: art. 6 ust. 1 pkt b) Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (RODO).</li>
                  <li class="list-group-item border-0">Twoje dane osobowe Administrator danych będzie przechowywał do czasu zakończenia działań podjętych na Twoją prośbę zgodnie z Twoją prośbą zawartą w formularzu kontaktowym.</li>
                  <li class="list-group-item border-0">Odbiorcami Twoich danych będą podmioty realizujące na zlecenie Administratora danych usługi informatyczne, w tym właściciel serwera, na którym znajduje się strona internetowa Administratora danych</li>
                  <li class="list-group-item border-0">Masz prawo żądania dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, a od 25.05.2018 r. prawo do uzyskania kopii danych, przenoszenia danych oraz prawo żądania ograniczenia przetwarzania danych.</li>
                  <li class="list-group-item border-0">Jeśli uznasz że przetwarzanie danych osobowych Ciebie dotyczących narusza przepisy ustawy o ochronie danych osobowych, lub RODO, masz prawo wnieść skargę do organu nadzorczego posiadającego kompetencję do rozpoznania tej skargi w dacie jej wniesienia.</li>
                  <li class="list-group-item border-0">Podanie przez Ciebie danych osobowych jest dobrowolne, jednakże ich niepodanie uniemożliwi Administratorowi podjęcie na Twoją prośbę działań wskazanych w formularzu kontaktowym (prośba, zapytanie) przez zawarciem umowy.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% endblock %}